<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <h2>
            Twitter Query
        </h2>
        <form action="#" th:action="@{/queryCount}" th:object="${countRequest}" method="post">
            Query Name:<input type="text" required="true" th:field="*{queryName}" maxlength="20"/>
            <br/>
            Twitter Query:<br/>
            <textarea required="true" th:field="*{query}" rows="10" cols="70" maxlength="1024"></textarea>

            <div id="count_message"></div>
            <br/>
            Twitter Basic access (uncheck for pro access)<br/>
            <input type="checkbox" name="basicAccess" checked="true" />
            <br/><br/>

            <input type="submit" class="btn btn-lg btn-primary" value="Get Twitter Count"/>
        </form>

        <div style="width: 600px; display: table-cell;">
            <h2>Results</h2>
            <h4>Check the status here <a target="_blank" th:href="${message}"><span th:text="${message}"></span></a></h4>
        </div>
    </body>
</html>